<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" style="min-height: 100%">
<head>
<meta charset="UTF-8">

<title>Meu BlogPost</title>
<!-- Adicionando CSS ao Projeto -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
	
	<!-- Icones do Google Fontes -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	
	<link rel="stylesheet" href="style/styleCss.css" /> 

</head>
<body>
	<header>
		<nav class="navbar navbar-light bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" style="font-weight: bold; color: white"
					href="/posts">Meu Blog</a>
			</div>
		</nav>

	</header>

	<main>
		<div class="container" style="width: 60%; padding-bottom: 30px;">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="background-color: white; padding-left: 0px; padding-top: 10px;">
					<li class="breadcrumb-item" aria-current="page"><a href="/posts">Lista de Posts</a></li>
					<li class="breadcrumb-item active" aria-current="page">Detalhes Post</li>
				</ol>
			</nav>

		<div class="card shadow-sm bg-light rounded" style="margin-top: 20px;">
			<div class="card-body">
				<article>
					<h1 class="card-title" style="font-weight: bold; margin-bottom: 20px;"><span th:text="${post.titulo}"></span></h1>
					
					<p class="card-subtitle mb-2 text-muted">
						<i class="material-icons">person_outline</i>
						<span th:text="${post.autor}"></span>
						<br>
						<i class="material-icons">date_range</i>
						<span th:text="${#temporals.format(post.data, 'dd/MM/yyyy')}"></span>
					</p>
					
					<section>
					<i class="material-icons">description</i>Texto:
						<p class="card-text" style="margin-top: 5px;"><span th:utext="${post.texto}"></span></p>
					</section>
				
				</article>
				
				</div>
			</div>
			<br />
		<input type='button' value='Voltar' onclick='history.go(-1)' style="border-radius: 20px; color: white; background-color: black;" />
		</div>
		

	</main>

</body>

<div class="footer bg-dark" style="position: absolute; bottom: 0; width: 100%; height: 60px; text-align: center; line-height: 100px;">
  <div class="container-fluid" style="padding: 20px;">
    <div class="row">
      <div class="col">
        <h6 style="text-align:center; color: white">
           App Desenvolvido por <a class="link" href="http://oraculocs.github.io/" target="_blank"
                rel="noreferrer">Carlos Augusto</a> </h6>
      </div>
      
      
    </div>
  </div>
</div>


</html>